body {background-color: rgb(44, 167, 60);}
h1 {color: red;}
h2 {color: rgb(0, 0, 0);}
#title {
    text-align: center;
    color: red;
}
#diosa{
    text-align: center;
    color: black;                                             
}
a:hover{
    color: chartreuse;
    font-size: 25px
}