
body {
    background-color: rgb(44, 93, 167);
    text-align: center
}
h1 {color: red;}
h2 {color: rgb(0, 0, 0);}
#title {
    text-align: center;
    color: red;
}
#diosa{
    text-align: center;
    color: black;                                             
}
a:hover{
    color: chartreuse;
    font-size: 30px
}
h2{
    margin-top: 20px;
    border: 2px solid black;
    padding: 100px
}
img:hover{
    width: 320px
}

img{
    width: 300px;
}

#torres{
    text-align: center;
}

#miimagen{
animation-name: mianimacion;
animation-duration: 3s;
animation-iteration-count: 5;
animation-direction: alternate-reverse;

}


@keyframes mianimacion{
0%{
    transform: rotateY(40deg)
}
 
40%{
transform: scale3d(2.2,1.3,8.3)
translate(-140px)
}
100%{
    transform: translate(150px)

}

}


