body {background-color: rgb(84, 76, 199);}
h1 {color: red;}
h2 {color: rgb(0, 0, 0);}
#title {
    text-align: center;
    color: red;
}
#diosa{
    text-align: center;
    color: black;                                             
}